*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
*.log
*.nav
*.swp
*~
.project
.classpath
.settings/
.metadata/
build_compile_log.txt
build_errors.txt
build_log_temp.txt
progression_for_test.json
/scripts
