<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Debug-only manifest overlay: export the PlaybackService so ADB (shell uid 2000) can start it for debugging. -->
    <application>
        <service
            android:name=".service.PlaybackService"
            android:exported="true"
            tools:replace="android:exported"
            tools:node="merge" />
    </application>
</manifest>

